$color-ln: #006998;
$XS: 8px;
$SM: 16px;
$ML: 24px;
$LG: 32px;
$XL: 40px;

@font-face {
	font-family: Arial-Regular;
	src: url(../fonts/Arial/Arial.ttf);
}
@font-face {
	font-family: Arial-Bold;
	src: url(../fonts/Arial/Arial-Bold.ttf);
}
@font-face {
	font-family: Suecaslab-Bold;
	src: url(../fonts/SuecaSlab-Bold.otf);
}
@font-face {
	font-family: Suecaslab;
	src: url(../fonts/SuecaSlab-Regular.otf);
}

body {
	font-family: Arial-Regular;
}
