@use "../../../styles/global.scss" as var;
@use "../../../styles/mixin.scss" as mixin;

.section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px;

	.h3 {
		display: flex;
		flex-direction: column;
		border-bottom: 1px solid #e4e4e4;
		width: stretch;
		margin: 0px var.$SM var.$SM var.$SM;

		@include mixin.tablet {
			margin: 0px 0px var.$SM 0px;
		}

		@include mixin.desktop {
			margin: 0px 0px var.$ML 0px;
		}

		h3 {
			font-family: Suecaslab-Bold;
			font-size: 24px;
			font-weight: 400;
			line-height: 32px;
			letter-spacing: -0.4000000059604645px;
			text-align: left;
			color: #1c1c1f;
			margin: 0px 0px var.$XS 0px;
		}
	}

	.container {
		display: grid;
		gap: var.$ML;
		grid-template-areas:
			"one"
			"two"
			"three";

		.card1 {
			position: relative;
			grid-area: one;
			border-right: 1px solid #ccc;
			padding-right: var.$ML;

			@include mixin.tablet {
				img {
					order: 2;
				}

				.cardBody {
					order: 1;
				}
			}
		}

		.card2 {
			grid-area: two;
		}

		.card3 {
			grid-area: three;
		}

		@include mixin.tablet {
			grid-template-areas:
				"one one one two"
				"one one one three";
		}

		@include mixin.desktop {
			gap: var.$XL;

			.card1 {
				padding-right: var.$XL;
			}
		}
	}
}
