@use "../../styles/global.scss" as var;
@use "../../styles/mixin.scss" as mixin;

.article {
	display: flex;
	flex-direction: column;
	padding: 0px;

	.img {
		display: flex;
		background: #bcd6ff;
		margin-bottom: var.$XS;
		border-top: 1px solid #cccccc;
		border-bottom: 1px solid #cccccc;
		@include mixin.tablet {
			border: 1px solid #cccccc;
		}
	}

	.cardBody {
		display: flex;
		flex-direction: column;
		padding: 0px var.$SM;

		.title {
			color: #272727;
			font-family: SuecaSlab-Bold;
			font-weight: 400;
			font-size: 20px;
			line-height: 28px;
			margin: var.$XS 0px var.$XS 0px;
			@include mixin.tablet {
				font-family: Suecaslab;
			}
		}

		.titleFocalI {
			color: #272727;
			font-family: SuecaSlab-Bold;
			font-weight: 400;
			font-size: 20px;
			line-height: 28px;
			margin: var.$XS 0px var.$XS 0px;
		}

		.lead {
			color: #0250c9;
		}

		.subhead {
			display: none;
		}

		.firstSubhead {
			font-weight: 400;
			font-size: var.$SM;
			line-height: var.$ML;
			color: #333333;
			margin-bottom: var.$SM;
		}

		.authorContainer {
			display: flex;
			flex-direction: column;
			.authorImg {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-self: center;
				padding: 0px;
				width: 5rem;
				height: 5rem;
				border: 1px solid #cccccc;
				border-radius: 200px;
				margin-bottom: var.$XS;
				img {
					border-radius: 200px;
				}
			}

			.author {
				font-family: Arial-Bold;
				font-weight: 700;
				font-size: 14px;
				color: #272727;
				margin-bottom: var.$XS;
			}
		}
	}

	.focalIBody {
		padding: 0px;
	}
}

.articleAuthor {
	display: flex;
	justify-content: center;
	border: 1px solid #cccccc;
	box-sizing: border-box;
	margin: 0px 20px var.$SM 20px;
	@include mixin.tablet {
		margin: 0px 0px var.$XS 0px;
	}

	.bodyAuthor {
		align-items: center;
		height: stretch;
		justify-content: space-around;
		gap: 8px;
		padding: var.$SM var.$XS var.$SM var.$XS;
		h3 {
			text-align: center;
		}
	}
}
