@use "../../styles/global.scss" as var;

.article {
	display: flex;
	flex-direction: column;

	.cardBody {
		display: flex;
		flex-direction: column;
	}

	.bodyAuthor {
		border: 1px solid #cccccc;
		box-sizing: border-box;
		padding: var.$SM;
		align-items: center;
		margin-bottom: var.$SM;
		h3 {
			text-align: center;
		}
	}

	.title {
		color: #272727;
		font-family: SuecaSlab-Bold;
		font-weight: 400;
		font-size: 20px;
		line-height: 28px;
		margin: var.$XS 0px var.$XS 0px;
	}

	.lead {
		color: #0250c9;
	}

	.subhead {
		font-weight: 400;
		font-size: var.$SM;
		line-height: var.$ML;
		color: #333333;
		margin: 0px;
	}

	.img {
		display: flex;
		flex-direction: column;
		background: #bcd6ff;
		border: 1px solid #f2f2f2;
		margin: 0px 0px var.$XS 0px;
	}

	.authorImg {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-self: center;
		padding: 0px;
		width: 5rem;
		height: 5rem;
		border: 1px solid #cccccc;
		border-radius: 200px;

		img {
			border-radius: 200px;
		}
	}

	.author {
		font-style: normal;
		font-weight: 700;
		font-size: 14px;
		color: #272727;
		margin: var.$XS 0px var.$XS 0px;
	}
}
